<h2 appColor>Home Page</h2>
<hr>
<p>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
</p>
<hr>

<button
  (click)="openCarsPage()"
  class="btn btn-primary">Open Cars Page</button>

<hr>

<button class="btn btn-success mr-1" (click)="changeAuthStatus('login')">LogIn</button>
<button class="btn btn-danger ml-1" (click)="changeAuthStatus('logout')">LogOut</button>
